body {
    font-family: 'Roboto', sans-serif;
    font-family: 'Lora', serif;
    margin: 0;
    padding: 0;
}

.container {
    width: 900px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 75px;
}

h1 {
    padding: 0;
    font-family: 'Lora', serif;
    font-size: 56px;
    margin-bottom: 0px;
    display: flex;
    justify-content: center;
    color: #3d3e3f;
}

.nav {
    margin-top: 10px;
    padding: 0;
    list-style: none;
    display: flex;
    flex-direction: row;
    color: dimgray;
    display: flex;
    justify-content: center
}

.date {
    color: dimgray;
    display: flex;
    justify-content: center;
    margin-right: 30px;
    margin-left: 8px;
}

.vk_author_link {
    text-decoration: none;
    margin-left: 8px;
    color: dimgray;
}

.vk_author_link:hover {
    text-decoration: underline;
}

.paragraph {
    font-size: 22px;
    margin-top: 40px;
    display: flex;
    text-align: center;
}

p {
    font-size: 17px;
    line-height: 1.5;
    margin-top: 40px;
    color: #3d3e3f;
}

article {
    background-color: rgb(243, 243, 243);
    display: flex;
    text-align: center;
    justify-content: center;
}

img {
    margin-top: 10px;
    width: 900px;
}

figcaption {
    display: flex;
    justify-content: center;
    color: dimgray;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    margin-top: 5px;
}

.facts {
    line-height: 1.5;
}

.source {
    color: dimgray;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    margin-top: 5px;
}

a {
    color: #f1c40f;
}

a:hover {
    opacity: 0.8;
}

footer {
    margin-top: 80px;
    padding: 0;
    width: 100%;
    height: 110px;
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
}

.footer_text {
    margin-right: 658px;
    margin-bottom: 40px;
    padding: 0;
    align-items: center;
    font-size: 20px;
    color: white;
    font-family: 'Roboto', sans-serif;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header__social-item {
    font-size: 27px;
    text-decoration: none;
    color: white;
    margin-right: 10px;;
}

.header__social-item:last-child {
    margin-right: 0;
}

.header__social-item:hover {
    color: #f1c40f;
}

.header__btn_vk {
    display: inline-block;
    width: 230px;
    height: 60px;
    padding-left: 35px;
    padding-right: 35px;
    border-radius: 0px;
    background-color: #4680C2;

    color: #ffffff;
    font-size: 32px;
    font-weight: normal;
    line-height: 60px;
    text-decoration: none;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    float: left;
}

.header__btn_vk:hover {
    opacity: 0.95;
}

.header__btn_yt {
    display: inline-block;
    width: 230px;
    height: 60px;
    padding-left: 35px;
    padding-right: 35px;
    border-radius: 0px;
    background-color: #c4302b;

    color: #ffffff;
    font-size: 32px;
    font-weight: normal;
    line-height: 60px;
    text-decoration: none;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    float: left;
}

.header__btn_yt:hover {
    opacity: 0.95;
}

.header__btn_twitter {
    display: inline-block;
    width: 230px;
    height: 60px;
    padding-left: 35px;
    padding-right: 35px;
    border-radius: 0px;
    background-color: #00acee;

    color: #ffffff;
    font-size: 32px;
    font-weight: normal;
    line-height: 60px;
    text-decoration: none;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    float: left;
    margin-bottom: 50px;
}

.header__btn_twitter:hover {
    opacity: 0.95;
}